

.container{
    width: 100%;
    height: 100%;
    margin: 6% auto;
    position: absolute; 
}

.form-box{
    width: 370px;
    height: 455px;
    margin: 6% auto;
    position: relative;
    background: #fff;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e0e0e0;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 8px;
    outline: none;
    position: relative;
}

#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right,rgba(63, 81, 181, 0.7), rgba(0, 180, 212, 0.7));
    border-radius: 30px;
    transition: 0.8s;
}


.redes-sociales{
    margin: 30px auto;
    text-align: center;
}
 
.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}
 
.input-group{
    width: 100%;
    position: absolute;
    width: 280px;
    transition: 0.8s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #004440;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 38px;
    cursor: pointer;
    left: 10px;
    display: block;
    margin: auto;
    background: #757575;
    border: 0px;
    outline: none;
    border-radius: 30px;
}

.check-box{
     margin: 30px 10px 30px e;
}
span{
     color:#757575;
     font-size: 12px;
     bottom: 64px;
     position: absolute;
}
#login{
     left: 50px;
}
#registrar{
     left: 450px;
}